*{
    margin:0;
    top:0;
}
@media(min-width:750px){
    .main-1{
        display: flex;
    }
    .first-text-div{
        width: 60%;
        margin-left: 12%;
        margin-top: 10%;
    }
    .second-text-div{
        width:40%;
        margin-top: 10%;
   }
    .nav-bar-1{
        display: flex;
        padding-right: 2rem;
    }
     .nav-bar-2{
         display: none;
     }

    }
    @media(max-width:750px){
        .container1{
            display: none;
        }
        .main-1{
            padding-bottom: 12rem;
        }
        .second-text-div{
            margin-bottom: 1rem;
        }
        .nav-bar-121{
         margin-right: 1rem;
        }
        .nav-bar-2{
            display: none;
            color: aliceblue;
            justify-content: center;
            background-color: rgb(31, 30, 30);
            width:100%;
            height: 50vh;
        }
        #menu-1{
            width: 35px;
            height: 30px;
            margin:  0 20px;
            padding-top: 1rem;
            cursor: pointer;
            z-index: 100;
        }
        .nav-bar-1{
            padding-right:0px;
            margin: 0 20px;
            display: none;
            transition: 1s;
            width:400px;
            position: relative;
            z-index: 2;
        }
        .bar-1{
            height: 5px;
            width: 100%;
            background-color: aliceblue;
            display: block;
            border-radius: 5px;
            transition: 0.3s ease;
        }
        #bar1-1{
            transform: translateY(-3px);
        }
        #bar3-1{
            transform: translateY(3px);
        }
        .icon .bar-1{
            background-color: aliceblue;
        }
        .icon #bar1-1{
            transform: translateY(3px) rotate(-45deg);
        }
        .icon #bar3-1{
            transform: translateY(-6px) rotate(45deg);
        }
        .icon #bar2-1{
            opacity: 0;
        }
        .article-1{
            font-weight: 100;
            font-style: italic;
            font-size: smaller;
        }
    }
html{
    scroll-behavior: smooth;
}
body{
    background-color: rgb(0, 0, 0);
    width:100%;
    margin: 0; top: 0;
}
header{
    width: 100%;
    height: auto;
    position: fixed;
    z-index: 10;
}
.nav-bar{display: flex;
    justify-content: space-between;
    width:100%;
    height:auto;
    font-size: larger;
    background-color: black;
    color: white;
    transition: 0.5s;
    display: flex;
}
.nav-bar-1{
    margin: 1rem;
    align-items: center;
}
.logo{
    margin-top:1rem;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-size: 150%;
    font-weight: bolder;
    cursor: pointer;
    margin-left:0.2rem;
    justify-content: center;
}

.logo:hover{
    color: rgb(109, 96, 96);
}
.product{
    font-size:larger;
    margin-right: 4rem;
}
#menu{
    width: 25px;
    height: 10px;
    margin: 12px 05px 20px;
    cursor: pointer;
    z-index: 100;
    transform: rotate(45deg);
}
.bar{
    height: 2px;
    width: 5px;
    background-color: aliceblue;
    border-radius: 5px;
    transition: 0.3s ease;
    margin-top: 0;
}
#bar1{
    padding-left: 5px;
    transform: translateY(0px) translateX(5px) rotate(-90deg);
}
#bar2{
    padding-left: 5px;
    transform: translateY(3px) translateX(-0px);
}
.resources{margin-top:0px;
    font-size:larger;
    margin-right: 4rem;
}
.enterprise{
    margin-top:0px;
    font-size:larger;
    margin-right: 4rem;
}
.hire-an-expert{
    font-size:larger;
    margin-right: 4rem;
}
.flex-end{
    font-size:larger; 
    margin-right: 4rem; 
}
.log-in{
    font-size:larger;
    margin-right: 4rem;
    padding:0.5rem;
    border-radius: 8px;
    background-color: rgb(33, 33, 33);
}
.log-in:hover{
    background-color: whitesmoke;
    color: rgb(0, 0, 0);
    border-radius: 8px;
}
.get-started{
    font-size:larger;
    padding:0.5rem;
    border-radius: 8px;
    background-color: rgb(33, 33, 33);
}
.get-started:hover{
    background-color:whitesmoke;
    color: #000;
    border-radius: 8px;
}
.container{
    margin-top: 10%;
}
.main-1{
    width:auto;
    height:auto;
    padding-bottom: 0;
    color: white;
    background-color: rgb(11, 13, 13);
    margin-left:0.2rem;
    /* padding-bottom: 1rem; */
}
.first-text{
    font-size: 500%;
    width:auto;
    font-family: Arial, Helvetica, sans-serif;
    margin-right:10%;
}
.second-text{
    font-size: 200%;
    width:auto;
    padding: 1rem;
}
.container1{
    padding: 10rem;
    width: auto;
    height: auto;
    background-color: rgb(11, 13, 13);
}
.example {
    width: 100%;
    height: 80vh;
    background-size: cover;
    overflow-y: scroll; /* Add the ability to scroll */
  }
  /* Hide scrollbar for Chrome, Safari and Opera */
  .example::-webkit-scrollbar {
      display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .example {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

.rotate{
background-color: aliceblue;
display: flex;
align-items: center;
justify-items: space-around;
z-index: -10;
}
.article-div{
    background-color:aliceblue;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 2%;
}
.article-main{
    width: 70%;
}
.article-1{
    color: black;
    font-size: 250%;
    padding-top: 2%;
}
.article-2{
    padding-top: 5%;
    color: black;
    font-size: 250%;
}
.article-3{
    padding:3%;
    margin-top: 10%;
    font-size: 200%;
}
.article-4{
    padding:3%;
    margin-top: 3%;
    font-size: 200%;
}
.article-4 a{
    color: rgb(100, 100, 100);
}
.section{
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, paleturquoise 0%, paleturquoise 50%,pink 50%, pink 100%);
    padding:2%;
    z-index:0;
}
.left{
    display: flex;
    flex-direction: column;
    margin-top: 40vh;
    margin-right:0px;
    width:20%;
    height: 190px;
    background-color: grey;
    border-radius: 10px;
    margin-right: -50px;
    z-index:1;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0px 1px 5px 2px rgba(251, 251, 251, 0.995);
}
.left-1{
    height: 33%;
    background-color:aliceblue;
    padding: 2%;display: flex;
    align-items: center;
    font-weight: bold;
    border-bottom:44px #000;
}
.left-1:hover{
    padding: 5%;
    background-color:rgb(219, 236, 250);
}
.left-2{
    width:100%;
    height:33%;
    background-color: aliceblue;
    padding: 2%;
    display: flex;
    align-items: center;
    font-weight: bold;
}
.left-2:hover{
    padding: 5%;
    background-color:rgb(219, 236, 250);
}
.left-3{
    width:100%;
    height:33.3%;
    background-color:aliceblue;
    padding: 2%;
    display: flex;
    align-items: center;
    font-weight: bold;
}
.left-3:hover{
    padding: 5%;
    background-color:rgb(219, 236, 250);
}
.right{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%; height: 600px;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    z-index:0;
    box-shadow: 0px 1px 5px 4px rgba(0, 0, 0, 0.995);
}
.right-1{
    background-image: url(./photos/designer.jpg);
    background-size: cover;
    width:100%; height: 600px;
    border-radius: 10px;
}
.right-2{
    background-image:url(./photos/marketing.png);
    background-size: cover;
    width: 100%; height: 600px;
    border-radius: 10px;
    display: none;
}
.right-3{
    background-image:url(./photos/developer.jpg);
    background-size: cover;
    width: 100%; height: 600px;
    border-radius: 10px;
    display: none;
}
.sliding{
    width:100%;
    height: 70%;
}
.slide-image{
    padding: 10%;
    height: 10%;
    width: auto;
    overflow: hidden;
}
.btn{
    justify-content:space-between;
    color: aliceblue;
    border-radius: 10px;
    margin-left:21%;
    margin-right: 21%;
}
.button-left{
    margin-bottom: 3rem;
    cursor: pointer;
    width: 100px;
    height: 40px; 
    border-radius: 8px;
    box-shadow: 0px 1px 5px 2px rgba(251, 251, 251, 0.995);
}
.button-right{
    margin-bottom: 3rem;
    cursor: pointer;
    width: 100px;
    height: 40px; 
    border-radius: 8px;
    box-shadow: 0px 1px 5px 2px rgba(251, 251, 251, 0.995);
} 
.photo-grid{
    width: auto;
    height:auto;
    display: grid;
    align-items: center;
    justify-content: space-around;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 50% 50%;
    background-color:#000;
    overflow: hidden;
    padding: 0rem;
    padding-right: 1rem;

}
.one{
    width:100%;
    height: 200px;
    background:url(./photos/download.png);
    margin: 0.5rem;
    border-radius: 8px;
    box-shadow: 0px 0px 5px 2px rgba(251, 251, 251, 0.995);
}
.one:hover{
    margin-top: -0.5rem;
}
.two{
    width:100%;
    height: 200px;
    background:url(./photos/pngtree-programming-and-web-technology-vector-with-computer-illustration-png-image_755051.jpg);
    background-size: cover;
    margin: 0.5rem;
    border-radius: 8px;
    box-shadow: 0px 0px 5px 2px rgba(251, 251, 251, 0.995);
}
.two:hover{
    margin-top: -0.5rem;
}
.three{
    width:100%;
    height: 200px;
    background:url(./photos/pngtree-vector-computer-programming-material-png-image_2454502.jpg);
    background-size: cover;
    margin: 0.5rem;
    border-radius: 8px;
    box-shadow: 0px 0px 5px 2px rgba(251, 251, 251, 0.995);
}
.three:hover{
    margin-top: -0.5rem;
}
.four{
    width:100%;
    height: 200px;
    background:url(./photos/images.png);
    background-size: cover;
    margin: 0.5rem;
    border-radius: 8px;
    box-shadow: 0px 0px 5px 2px rgba(251, 251, 251, 0.995);
}
.four:hover{
    margin-top: -0.5rem;
}
.five{
    width:100%;
    height: 200px;
    background:url(./photos/pngtree-computer-programming-png-image_3232649.jpg);
    background-size: cover;
    margin: 0.5rem;
    border-radius: 8px;
    box-shadow: 0px 0px 5px 2px rgba(251, 251, 251, 0.995);
}
.five:hover{
    margin-top: -0.5rem;
}
.six{
    width:100%;
    height: 200px;
    background:url(./photos/marketing.png);
    background-size: cover;
    margin: 0.5rem;
    border-radius: 8px;
    box-shadow: 0px 0px 5px 2px rgba(251, 251, 251, 0.995);
}
.six:hover{
    margin-top: -0.5rem;
}
.footer-logo{
    color: aliceblue;
    padding-left: 1rem;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-size: 300%;
    font-weight: bolder;
    cursor: pointer;
    margin-left:0.2rem;
    margin-top: 0.5rem;
}
.footer-logo:hover{
    color: rgb(234, 205, 168);
}
.footer-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.border{
    padding:0.6rem;
    border-bottom: 4px solid white;
}
footer p{
    color: aliceblue;
    font-size: 200%;
}
a{
    text-decoration: none;
    color: rgb(128, 128, 128);
    padding: 0.2rem;
}
.product-class{
    margin-top:0;
    display: flex;
    flex-direction: column;
    padding: 1%;
}
.company-class{ margin-top: -3rem;
    display: flex;
    flex-direction: column;
}
.learn-class{ margin-top: -4.5rem;
    display: flex;
    flex-direction: column;
}
.social-class{ background: transparent;
    margin-top:3.4rem;
    display: flex;
    flex-direction: column;
    padding-right: 0.5rem;
}